<!DOCTYPE html>
  <html>
  <head>
    <title>cazh1 on GitsHub</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
    <body>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="http://www.cazh1.com/resume-cv">CV</a></li>
              <li><a href="http://www.cazh1.com">Blog</a></li>
          </ul>
      </nav>
      <div class="container">

      {{ content }}

      </div><!-- /.container ssdfsdf-->
    <footer>
        <ul>
            <li><a href="mailto:jpmacl@cazh1.com">email</a></li>
            <li><a href="http://www.cazh1.com">jump to cazh1</a></li>
      </ul>
    </footer>
    </body>
  </html>

